.comments {
  margin-top: 20px;
  position: relative;
  padding: 20px;
  width: 100%;
}

.comments-title {
  color: white;
  font-size: 25px;
}

.input-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.input-user div {
  flex: 1;
  margin-left: 12px;
  display: flex;
}

.input-user div input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 8px;
  font-size: 13px;
  width: 100%;
  font-family: sans-serif;
}

.input-user div button {
  padding: 4px 16px;
  font-size: 20px;
  background-color: #007bff;
  color: white;
  transition: 0.4s;
}



.input-user div button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.error-comment {
  font-size: 25px;
  color: white;
  text-align: center;
  margin: 8px 0px;
}

.error-comment a {
  color: #007bff;
}

.show-comments {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding: 16px 0px;
}

.comment-item {
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment-item img{  
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.comment-info{
    margin-left: 12px;
    background-color: black;
    padding: 4px 16px;
    min-width: 200px;
    border-radius: 20px;
}

.comment-info h3{
    font-size: 13px;
    color: white;
    font-family: sans-serif;
}

.comment-info p{
    color: #ccc;
    font-family: sans-serif;
    font-size: 15px;
}

.delete-comment{
    color: white;
    transition: 0.4s;
    opacity: 0.7;
    padding: 4px;
}

.delete-comment:hover{
    opacity: 0.9;
    cursor: pointer;
}