.anime {
  margin-top: 30px;
  position: relative;
  width: 100%;
}

.anime-title {
  color: #fff;
  font-size: 35px;
  padding-left: 10px;
}

.anime-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.anime-item {
  width: 240px;
  background-color: #2a2a2a;
  margin: 8px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.anime-item:hover {
  cursor: pointer;
}

.anime-item__img {
  width: 100%;
  height: 340px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (max-width:739px) {
  .anime-item{
    width: 170px;
  }

  .anime-item__img{
    height: 250px;
  }
}

@media (max-width:350px) {
  .anime-item{
    width: 130px;
  }

  
  .anime-item__img{
    height: 200px;
  }
}

.anime-item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 16px;
  width: 100%;
  font-size: 1.4rem;
}

/* Main code */

.dots-loading {
  display: flex;
  justify-content: center;
}
.dots-loading > div {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #ccc;
  margin: 0 1rem;
  animation: dotLoading 1s forwards infinite linear;
}

.dots-loading > div:nth-child(2) {
  animation-delay: 0.1s;
}
.dots-loading > div:nth-child(3) {
  animation-delay: 0.2s;
}
.dots-loading > div:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes dotLoading {
  to {
    opacity: 0;
  }
}
