header {
  background-color: #2a2a2a;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  position: relative;
}

.header-img {
  object-fit: cover;
  height: 70px;
}


.search-icon,
.setting-icon {
  color: white;
  font-size: 20px;
  margin-right: 8px;
  padding: 8px;
  background-color: black;
  border-radius: 50%;
}

.search-icon:hover {
  cursor: pointer;
  opacity: 0.9;
}

@media (max-width: 739px) {
  .header-img {
    height: 50px;
  }
}

.settings {
  color: white;
  font-size: 20px;
  margin-left: 4px;
}

.settings:hover {
  cursor: pointer;
}

.avatar-login {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  margin-top: 4px;
  margin-left: 4px;
  position: relative;
}

.avatar-login:hover {
  cursor: pointer;
}

.avatar:hover .menu-user {
  display: block !important;
}

.menu-user {
  position: absolute;
  background-color: #2a2a2a;
  right: 0;
  top: 0;
  margin-top: 60px;
  padding: 8px 16px;
  list-style: none;
  z-index: 2;
  display: none;
  border-radius: 5px;
  transition: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.menu-user__item {
  color: white;
  font-size: 20px;
  border-top: 1px solid #ccc;
  margin-top: 4px;
}

.menu-user__item:hover {
  cursor: pointer;
  opacity: 0.9;
}

.first-list{
  border: none;
}

.tool-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}