.login-form{
    width: 300px;
    background-color: #1a1a1a;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

.login-form h1{
    color: white;
    text-transform: uppercase;
    font-size: 35px;
}

.login-form button{
    margin-top: 8px;
    padding: 2px 8px;
    border-radius: 5px;
    width: 200px;
    border: none;
    font-family: "Dongle", sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 600;
}

@media (max-width:739px) {
    .login-form button{
      font-size: 20px;
    }
  }

#loginFacebook{
    background-color: #0E8DF1;
}

#loginGoogle{
    background-color: #FF5353;
}

.login-form button:hover{
    cursor: pointer;
    opacity: 0.9;
}

.login{
    position: relative;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.699);
    transition: 0.4s;
}

.login-btn-close:hover{
    cursor: pointer;
    color: white;
}

