* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dongle", sans-serif;
  color: #333;
}

.App {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.container {
  background-color: #222222;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

