.news {
  position: relative;
  min-height: 100vh;
  padding-bottom: 20px;
  overflow-x: hidden;
}

.news-list {
    margin: 0 auto;
  padding: 0px 16px;
  margin-top: 30px;
  width: 400px;
}

.news-item {
  padding: 8px 16px;
  border-radius: 10px;
  margin-top: 12px;
  width: 100%;
}

.news-item__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 0px;
}

.news-item__info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.news-item__info-author {
  margin-left: 8px;
  width: 100%;
  overflow-x: hidden;
}

.news-item__info-author h2 {
  font-size: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

@media (max-width: 739px) {
  .news-item__info-author h2 {
    font-size: 20px;
  }

  .news-item__info-author p {
    font-size: 15px !important;
  }

  .news-item__tool-heart i {
    font-size: 16px !important;
  }

  .news-item__tool-open i {
    font-size: 16px !important;
  }

  .news-item__video iframe{
      width: 250px !important;
  }

  .news-traller{
      width: 250px !important;
  }

  .news-list{
      width: 100% !important;
  }
}

.news-item__info-author p {
  color: white;
  font-size: 20px;
  line-height: 0.8;
  max-height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 4px 0px;
  max-width: 80%;
}

.news-item__video {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  width: 300px;
}

.news-item__video iframe {
  border-radius: 10px;
  width: 100%;
}

.news-item__video img {
  object-fit: cover;
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

.news-item__tool {
  padding: 4px;
  text-align: center;
  margin-left: 8px;
  width: 20%;
}

.news-item__tool-heart i {
  padding: 12px;
  background-color: #333;
  color: red;
  border-radius: 50%;
  font-size: 20px;
}

.news-item__tool-heart i:hover {
  cursor: pointer;
  opacity: 0.9;
}

.news-item__tool-heart p {
  color: white;
  font-size: 25px;
}

.news-item__tool-open {
  margin-top: 8px;
}

.news-item__tool-open i {
  font-size: 20px;
  padding: 12px;
  border-radius: 50%;
  background-color: #333;
  color: white;
}

.news-item__tool-open i:hover {
  cursor: pointer;
  opacity: 0.9;
}

.news-item__tool-open p {
  color: white;
  font-size: 25px;
}
